/*Extra Small Devices*/ 
/*xsm (320-480)*/ 

@media only screen and (min-width: 320px) and (max-width: 480px)  {
    .navbar-nav {
        padding: 10px 0px;
    }
    
    .nav-item {
        text-align: center;
        background-color: transparent;
        padding: 2px 0px;
    }
    .login-buttton{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 100px;
    }

    .header-content h1 {
        padding-top: 20px;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 42px;
        color: #FFFFFF;
    }
    .header-content .button {
        padding: 3px 24px;
        width: 160px;
        margin: 0 auto;
    }

    .reco-info img{
        width: 100%;
        height: 40%;
        
    }

    .highlights-info h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 46px;
        color: #0A0826;
    }
    .latest-news {
        margin: 100px 0px;
    }
    .latest-news h1 {
        font-size: 30px;
        line-height: 46px;
    }
    .latest-content p {
        font-size: 12px;
        line-height: 18px;
    }
    .reco-section {
        margin: 100px 0px;
    }
    .reco-section h1 {
        font-size: 30px;
        line-height: 46px;
    }
    .footer-container img {
        width: 80%;
        height: 110px;
    }
   

    
    
    
    
    }
    
/*Small Devices*/ 
/*sm (481-767)*/ 
    
@media only screen and (min-width: 481px) and (max-width: 767px)  {
    .navbar-nav {
        padding: 10px 0px;
    }
    
    .nav-item {
        text-align: center;
        background-color: transparent;
        padding: 2px 0px;
    }
    .login-buttton{
        position: absolute;
        top: 2%;
        right:  10%;
        width: 160px;        
    }

    .header-content h1 {
        padding-top: 20px;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 41px;
        line-height: 44px;
        color: #FFFFFF;
    }
    .header-content .button {
        padding: 3px 24px;
        width: 160px;
        margin: 0 auto;
    }
    .reco-info img{
        width: 100%;
        height: 40%;
       
    }
    .footer-container img {
        width: 80%;
        height: 110px;
    }
   
    
}
    
    
/*Medium Devices*/ 
/*md (768-991)*/ 
@media only screen and (min-width: 768px) and (max-width: 991px)  {
    .navbar-nav {
        padding: 10px 0px;
    }
    
    .nav-item {
        text-align: center;
        background-color: transparent;
        padding: 2px 0px;
    }
    .login-buttton{
        position: absolute;
        top: 2%;
        right:  10%;
        width: 160px;        
    }

    .header-content h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 52px;
        color: #FFFFFF;
    }
    .reco-info img{
        width: 100%;
        height: 40%;
        object-fit: cover;
    }
    .player-info h1 {
        font-size: 23px;
        line-height: 31px;
    }
    .player-info p {
        font-size: 15px;
        line-height: 24px;
    }
    .highlights-info h1 {
        font-size: 38px;
        line-height: 50px;
    }
    .highlights-content{
        display: flex;
        align-items: center;
    }
    .footer-container img {
        width: 80%;
        height: 110px;
    }
}
    
    
/*large Devices*/ 
/*lg (992-1199)*/ 
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
       
    
    
    
}
    
    
/*Extra large Devices*/ 
/*xlg (1200-1400)*/ 
@media only screen and (min-width: 1200px) and (max-width: 1400px)  {
    
    
    
    
    
    
    
    
}