@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    min-height: 100vh;
    background: #2D25A0;
}
.navbar{
    width: 100%;
}

.navbar-light .navbar-nav .nav-item {
    list-style: none;
    margin-right: 36px;
    
}

.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF !important;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: .5s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 110%
}
.navbar-light .navbar-toggler-icon {
    background-image: url('../img/hamburger.PNG') !important;

}

.navbar-toggler:focus  {
    box-shadow: none !important;
}

.login-buttton{
    padding: 10px 40px;
    width: 168px;
    height: 44px;
    background: #E02C6D;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.login-buttton i{
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 8px;
}

.login-buttton a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}


.login-buttton a:hover{
    color: #fff;
}